

<div style="width: 330px; float: left; display: block; padding-left:
10px; padding-right: 11px;">

<div class="homepagetitle" style="background-color: rgb(118, 21, 22);
width: 330px; height: 22px; position: relative;"><strong>Google News</strong></div>

  <div style="padding-top: 10px; width: 330px;">
    <div style="margin: 0pt;
padding: 0pt;  width: 330px;">
    
        
        
<script src="http://www.gmodules.com/ig/ifr?url=http://www.google.com/ig/modules/tabnews.xml&amp;up_ned=us&amp;up_items=3&amp;up_show_image=1&amp;up_font_size=12pt&amp;up_selectedTab=0&amp;up_tabs=&amp;up_last_url=&amp;up_onebox=&amp;synd=open&amp;w=320&amp;h=320&amp;title=&amp;lang=en&amp;country=ZW&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script>
        
        


    </div>
      </div>
</div>


</a>