

<div style="width: 320px; float: left; display: block; padding-left:
10px; padding-right: 11px;">

<div class="new test" style=width: 320px; height: 22px; position: relative;"><h3>Bible Verse</h3></div>

  <div style="padding-top: 10px; width: 320px;">
    <div style="margin: 0pt;
padding: 0pt;  width: 320px;">
    
        
        
<script src="http://www.gmodules.com/ig/ifr?url=http://www.believer.com/outreach/versetoday.xml&amp;synd=open&amp;w=320&amp;h=120&amp;title=&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script>
        
        


    </div>
      </div>
</div>
