

<div style="width: 330px; float: left; display: block; padding-left:10px; padding-right: 11px;">
	<div id="shadow-container">
		<div class="shadow1">
			<div class="shadow2">
				<div class="shadow3">
					<div class="container">
  <h3>Google News</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div style="padding-top:10px">
	<div id="shadow-container">
		<div class="shadow1">
			<div class="shadow2">
				<div class="shadow3">
					<div class="container">
        
<script src="http://www.gmodules.com/ig/ifr?url=http://www.google.com/ig/modules/tabnews.xml&amp;up_ned=us&amp;up_items=3&amp;up_show_image=1&amp;up_font_size=12pt&amp;up_selectedTab=0&amp;up_tabs=&amp;up_last_url=&amp;up_onebox=&amp;synd=open&amp;w=300&amp;h=320&amp;title=&amp;lang=en&amp;country=ZW&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script>
        
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>
