 <div style="width: 330px;">
	<div id="shadow-container">
		<div class="shadow1">
			<div class="shadow2">
				<div class="shadow3">
					<div class="container">
  <h3>Quick Links</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
 <div style="padding-top:10px">
	<div id="shadow-container">
		<div class="shadow1">
			<div class="shadow2">
				<div class="shadow3">
					<div class="container">

      <div style="margin: 5px 10px 10px;">
        <p><span class="hdrtext"><img src="images/arr.gif" alt="Arrow" width="4"
height="6"></span><a href="http://www.enc.edu/academics/academic_calendar.htm" target="_blank"> Academic Calendar</a><br>
          <span class="hdrtext">
          <img src="images/arr.gif" alt="Arrow" width="4" height="6"></span>
          <a href="http://www.enc.edu/academics/academic_policies.htm" target="_blank"> Academic Policies</a><br>

   <img src="images/arr.gif" alt="Arrow" width="4" height="6" />
			       	  <a href="http://www.enc.edu/campuscamera/" target="_blank"> Campus Camera Newspaper</a>
            <br>

          	<img src="images/arr.gif" alt="Arrow" width="4" height="6">
    <a href="http://www.enc.edu/calendar.htm" target="_blank">Campus Calendar</a><br>

		<img src="images/arr.gif" alt="Arrow" width="4" height="6" />
				       	  <a href="http://www.enc.edu/goto/studentnet/chapel_schedule.htm" target="_blank"> Chapel Schedule</a><br>
<img src="images/arr.gif" alt="Arrow" width="4" height="6" />
				       	  <a href="http://www.enc.edu/goto/college_store/index.htm" target="_blank"> College Store</a><br />
				       	  <img src="images/arr.gif" alt="Arrow" width="4" height="6" /> <a href="http://www1.enc.edu/antivirus" target="_blank"> Download Forefront Anti-Virus</a>            <br>

       	  <img src="images/arr.gif" alt="Arrow" width="4" height="6" />
       	  <a href="http://www.enc.edu/downloads/hr/holiday_schedule_2009.pdf" target="_blank"> Holiday Schedule 2009</a>
            <br>
            <img src="images/arr.gif" alt="Arrow" width="4" height="6" />
			       	  <a href="http://www.enc.edu/human_resources/index.htm" target="_blank"> Human Resources</a>
            <br>
	            <img src="images/arr.gif" alt="Arrow" width="4" height="6">
  <a href="http://moodle.enc.edu/" target="_blank">Moodle</a><br>
  <img src="images/arr.gif" alt="Arrow" width="4" height="6" /><a href="#" onClick="mGOTO_Directory()"> MyENC Directory Search<br>
  </a>

                	<img src="images/arr.gif" alt="Arrow" width="4" height="6">
          <a href="http://library.enc.edu/" target="_blank">Nease Library</a><br />
          <img src="images/arr.gif" alt="Arrow" width="4" height="6" /><a href="http://owa.enc.edu" target="_blank"> Outlook Web Access (OWA)</a><br>

          <img src="images/arr.gif" alt="Arrow" width="4" height="6">
            <a href="http://www.enc.edu/academics/registrar/index.htm" target="_blank">Registrar's Office</a><br>

            <img src="images/arr.gif" alt="Arrow" width="4" height="6">
            <a href="https://www1.enc.edu/retention/" target="_blank">Retention: Student Concern Submission Form</a><br>

            <img src="images/arr.gif" alt="Arrow" width="4" height="6">
<a href="http://www.enc.edu/academics/registrar/shuttle_schedule.htm" target="_blank">Shuttle Schedule</a><br>

            <img src="images/arr.gif" alt="Arrow" width="4" height="6">
            <a href="http://www.enc.edu/downloads/undergraduate_catalogs/undergraduate_catalog_latest.pdf" target="_blank"> Undergraduate Catalog</a><Br>
        </p>
        </div>
        <div>
          <div align="center"><a href="http://enc.edu/alerts/index.php" target="_blank" onMouseOver="document.ouralertbutton.src='images/news/enc_alerts_on.gif'" onMouseOut="document.ouralertbutton.src='images/news/enc_alerts.gif'"><img src="images/news/enc_alerts.gif" alt="ENC Alerts" name="ouralertbutton" width="228" height="33" border="0" id="ouralertbutton" /></a></div>

        </div>
    <div style="margin: 0px 5px 10px 10px; float: left;"></div>

            <div style="clear: both;"></div>
       			</div>
              </div>
			</div>
		</div>
	</div>
  </div>
</div>

