

<div style="width: 215px; float: left; display: block; padding-left:
10px; padding-right: 11px;">

	<div id="shadow-container">
		<div class="shadow1">
			<div class="shadow2">
				<div class="shadow3">
					<div class="container">
  <h3>Quick Links</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="shadow-container">
		<div class="shadow1">
			<div class="shadow2">
				<div class="shadow3">
					<div class="container">


      <div style="margin: 5px 10px 10px;">
        <p><span class="hdrtext"><img src="images/arr.gif" alt="Arrow" width="4"
height="6"></span><a href="http://www.enc.edu/goto/studentnet/financials.htm" target="_blank"> Scholarships & Financial Aid</a><br>
          <span class="hdrtext">
          <img src="images/arr.gif" alt="Arrow" width="4" height="6"></span>
          <a href="http://www.enc.edu/downloads/finaid/fin_aid_07_08.pdf" target="_blank"> Financial Aid Application</a><br>

   <img src="images/arr.gif" alt="Arrow" width="4" height="6" />
			       	  <a href="http://www.salliemae.com/netpay/calculator_popup.html" target="_blank"> Tuition Payment Plan Calculator</a>
            <br>

          	<img src="images/arr.gif" alt="Arrow" width="4" height="6">
    <a href="http://www.enc.edu/downloads/finaid/08-09_Payment_Contract.pdf" target="_blank">Payment Contract Worksheet </a><br>

      <img src="images/arr.gif" alt="Arrow" width="4" height="6" />
				       	  <a href="http://www.enc.edu/goto/studentnet/meal_plan.htm" target="_blank"> Meal Plan Fact Sheet</a><Br>
        </p>

    


            <div style="clear: both;"></div>
        </div>

            <div class="pastnews"></div>
            <div class="pastnews" style="height: auto;">&nbsp;</div>
      </div>
</div>

</div>
				</div>
			</div>
		</div>
 