

	<div id="shadow-container">
		<div class="shadow1">
			<div class="shadow2">
				<div class="shadow3">
					<div class="container">
			  <h3>Helpful Links</h3>
					</div>
				</div>
			</div>
		</div>

</div>

<div style="padding-top:10px;">
	<div id="shadow-container">
		<div class="shadow1">
			<div class="shadow2">
				<div class="shadow3">
					<div class="container" style="background-color:#E8E6CF;background-image:url(images/news_gradient.jpg); background-repeat:repeat-x;">
			      <div style="margin: 5px 10px 10px;">
        <p><span class="hdrtext"><img src="images/arr.gif" alt="Arrow" width="4"
height="6"></span><a href="http://www.enc.edu/loans" target="_blank"> Apply for Loans</a><br />
          <span class="hdrtext"><img src="images/arr.gif" alt="Arrow" width="4"
height="6"></span><a href="http://www.enc.edu/goto/studentnet/financials.htm" target="_blank"> Scholarships &amp; Financial Aid</a><br>
          <span class="hdrtext">
          <img src="images/arr.gif" alt="Arrow" width="4" height="6"></span>
          <a href="http://www.enc.edu/downloads/finaid/fin_aid_07_08.pdf" target="_blank"> Financial Aid Application</a><br>

          <img src="images/arr.gif" alt="Arrow" width="4" height="6" />
			       	  <a href="http://www.salliemae.com/netpay/calculator_popup.html" target="_blank"> Tuition Payment Plan Calculator</a><br>

   	            <img src="images/arr.gif" alt="Arrow" width="4" height="6">
                      <a href="http://www.enc.edu/downloads/finaid/08-09_Payment_Contract_Instructions_New_Stu.pdf" target="_blank">Payment Contract Worksheet</a><br>

                <img src="images/arr.gif" alt="Arrow" width="4" height="6" />
				       	  <a href="http://www.enc.edu/goto/studentnet/meal_plan.htm" target="_blank"> Meal Plan Fact Sheet</a><Br>
        
        </div>
			      </div>
				</div>
			</div>
		</div>
	</div>
 </div>