

	<div id="shadow-container">
		<div class="shadow1">
			<div class="shadow2">
				<div class="shadow3">
					<div class="container">
			  <h3>Quick Links</h3>
					</div>
				</div>
			</div>
		</div>

</div>

<div style="padding-top:10px;">
	<div id="shadow-container">
		<div class="shadow1">
			<div class="shadow2">
				<div class="shadow3">
					<div class="container" style="background-color:#E8E6CF;background-image:url(images/news_gradient.jpg); background-repeat:repeat-x;">
			      <div style="margin: 5px 10px 10px;">
        <p><span class="hdrtext"><img src="images/arr.gif" alt="Arrow" width="4"
height="6"></span><a href="http://www.enc.edu/academics/academic_calendar.htm" target="_blank"> Academic Calendar</a><br>
          <span class="hdrtext">
          <img src="images/arr.gif" alt="Arrow" width="4" height="6"></span>
          <a href="http://www.enc.edu/academics/academic_policies.htm" target="_blank"> Academic Policies</a><br>

   <img src="images/arr.gif" alt="Arrow" width="4" height="6" />
			       	  <a href="http://www.enc.edu/campuscamera/" target="_blank"> Campus Camera Newspaper</a> <br>

          	<img src="images/arr.gif" alt="Arrow" width="4" height="6">
    <a href="http://www.enc.edu/calendar.htm" target="_blank">Campus Calendar</a><br>

      <img src="images/arr.gif" alt="Arrow" width="4" height="6" />
				       	  <a href="http://www.enc.edu/goto/college_store/index.htm" target="_blank"> College Store</a><br />
				       	  <img src="images/arr.gif" alt="Arrow" width="4" height="6" /> <a href="http://www1.enc.edu/antivirus" target="_blank"> Download Forefront Anti-Virus</a>            <br>

	   <img src="images/arr.gif" alt="Arrow" width="4" height="6" />
			       	  <a href="http://www.enc.edu/brickleycenter/" target="_blank"> Counseling, Career & Health</a> <br>

            <img src="images/arr.gif" alt="Arrow" width="4" height="6" />
			       	  <a href="http://www.enc.edu/human_resources/index.htm" target="_blank"> Human Resources</a>
            <br>
	            <img src="images/arr.gif" alt="Arrow" width="4" height="6">
  <a href="http://moodle.enc.edu/" target="_blank">Moodle</a><br>
  <img src="images/arr.gif" alt="Arrow" width="4" height="6" /><a href="#" onClick="mGOTO_Directory()"> MyENC Directory Search<br>
  </a>

                	<img src="images/arr.gif" alt="Arrow" width="4" height="6">
          <a href="http://library.enc.edu/" target="_blank">Nease Library</a><br />
          <img src="images/arr.gif" alt="Arrow" width="4" height="6" /><a href="http://owa.enc.edu" target="_blank"> Outlook Web Access (OWA)</a><br>

          <img src="images/arr.gif" alt="Arrow" width="4" height="6">
<a href="http://www.enc.edu/academics/registrar/index.htm" target="_blank">Registrar's Office</a><br>

          <img src="images/arr.gif" alt="Arrow" width="4" height="6">
<a href="http://www.enc.edu/academics/registrar/shuttle_schedule.htm" target="_blank">Shuttle Schedule</a><br>

       	  <img src="images/arr.gif" alt="Arrow" width="4" height="6">
<a href="http://www.enc.edu/downloads/undergraduate_catalogs/undergraduate_catalog_latest.pdf" target="_blank"> Undergraduate Catalog</a><Br>
        </p>
			        </div>
			      </div>
				</div>
			</div>
		</div>
	</div>
 </div>