
<div style="width: 250px; float: left; display: block; padding-left: 
10px; padding-right: 11px;">
 
<div class="homepagetitle" style="background-color: rgb(118, 21, 22);
width: 250px; height: 22px; position: relative;"><strong> Today on Campus</strong></div> <div style="overflow:auto; height:220px; width:250px;"> <script language="JavaScript"> var TITLE = ""; var TITLE_TEXT_COLOR = 'black'; var TITLE_TEXT_SIZE = '3'; var TITLE_BAR_COLOR = 'white'; var TABLE_WIDTH = '250'; var TABLE_BORDER = '1'; var BORDER_COLOR = '#8a0303'
var TABLE_BACKGROUND_COLOR = '#FFFFFF';
var TEXT_SIZE = '1px';
var TEXT_COLOR = 'black';
var CELL_SPACING = '3'
var CELL_PADDING = '2'
</script>
<script language="JavaScript" 
src="http://www.thezonelive.com/jsEvents/16155.js"></script>
</div>


      <div style="padding-top: 10px; width: 250px;">
      <div style="margin: 0pt; padding: 0pt; width: 250px;">
      
<!-- END SCHOOL DATEBOOKS EVENT FRAMING --></div>
        <div style="margin: 0px 5px 10px 10px; float: left;">
        </div>
   
        

          </div>
          
            
      </div>

