

<div style="width: 330px; float: left; display: block; padding-left:
10px; padding-right: 11px;">

<div class="new test" style=width: 330px; height: 22px; position: relative;"><h3>Local Weather</h3></div>

  <div style="padding-top: 10px; width: 330px;">
    <div style="margin: 0pt;
padding: 0pt;  width: 330px;">
    
        
        
<script src="http://www.gmodules.com/ig/ifr?url=http://www.notkewl.com/myWeather/myWeather.xml&amp;up_paikka=02170&amp;up_merkki=0&amp;synd=open&amp;w=320&amp;h=260&amp;title=&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script>
        
        


    </div>
      </div>
</div>
