

 <div style="width: 330px;">

	<div id="shadow-container">
		<div class="shadow1">
			<div class="shadow2">
				<div class="shadow3">
					<div class="container">
  <h3>You Tube Videos</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
 <div style="padding-top:10px">
	<div id="shadow-container">
		<div class="shadow1">
			<div class="shadow2">
				<div class="shadow3">
					<div class="container">
        
        
        <script src="http://www.gmodules.com/ig/ifr?url=http://www.google.com/ig/modules/youtube_igoogle/v2/youtube.xml&amp;up_title=YouTube&amp;up_username=&amp;up_prefs_version=0&amp;up_search_channels=0&amp;up_search_channel_name0=&amp;up_search_channel_url0=&amp;up_search_channel_name1=&amp;up_search_channel_url1=&amp;up_search_channel_name2=&amp;up_search_channel_url2=&amp;up_current_channel_id=0&amp;up_rawQuery=&amp;up_channel_url_to_preload=http%3A%2F%2Fgdata.youtube.com%2Ffeeds%2Fapi%2Fstandardfeeds%2FUS%2Frecently_featured%3Falt%3Djson&amp;synd=open&amp;w=300&amp;h=325&amp;title=&amp;lang=en&amp;country=IE&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script>
  			</div>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>
