body { 
  color : #000000; 
  background : #ffffff; 
}

a { 
  text-decoration : underline; 
  color : #0000ff; 
}


#bannernew, #mainnavigation, #aftermainnav, #beforesidenav, #sidenavigation, #footer
{
      display:none;
}

.noprint {
   display:none;
}